/* custom color palette */

:root {
  --core-dark-green: #14281d;
  --core-hunter-green: #355834;
  --core-field-drab: #6e633d;
  --core-ecru: #c2a878;
  --core-cream: #eaefbd;

  --white: #ffffff;
  --white-soft: #f8f8f8;

  --black: #181818;
  --black-soft: #222222;
}

/* Simple CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* Start base body stuff */
body {
  min-height: 100vh;
  background: var(--core-dark-green);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Cambria', serif;
  font-size: 12px;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 960px) {
  body {
    width: 960px;
    margin: auto;
  }
}